p { 
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 2rem;
  }
h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 3rem;
  }

  h2 {
    text-align: center;
    color: yellow;
    font-size: 35px;
    margin: 2rem;
  }